body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1{
	text-align: center;
	color: purple;
	font-family: 'Dancing Script', cursive;
}
#LandingHeader{
	color: white;
	font-weight: bolder;
	font-size: 6em;
	font-family: 'Dancing Script', cursive;
}
.LandingHeader{
	text-align: center;
	background-color: lightPink;
	color: white;
	padding: 20px;
	height: 400px;
	background-image: url(back.jpg);
	background-position:center;
	background-size: cover;
}
.navbar{
	background-color: lightpink;
	color: white;
	height: 40px;
}
.signUpForm{
	background-image: url(back.jpg);
	background-position: center;
	background-size: cover;
	opacity: 0.4;
	height: auto;
	
}
.signInForm{
	background-image: url(back.jpg);
	background-position: center;
	background-size: cover;
	opacity: 0.4;
	height: auto;
	
}
div.signUpFormDetails, .signInFormDetails{
	margin: 30px;
	margin-top: 10px;
	padding: 15px;
    background-color: antiqueWhite;
    border: solid 5px purple;
    opacity: 0.6;
    width: 20%;
    height: 100%;
    font-weight: bolder;
    opacity: 1.0;
    color: black;
    display: inline-block;

}
.formWrap, .signInWrap{
	display: block;
	text-align: center;

}
.navbarOption{
	padding: 10px;
	float: right;
}
#link{
	color: purple;
}
.btn {
  background: #8f1b72;
  background-image: -webkit-linear-gradient(top, #8f1b72, #782bb8);
  background-image: -moz-linear-gradient(top, #8f1b72, #782bb8);
  background-image: -ms-linear-gradient(top, #8f1b72, #782bb8);
  background-image: -o-linear-gradient(top, #8f1b72, #782bb8);
  background-image: linear-gradient(to bottom, #8f1b72, #782bb8);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Georgia;
  color: #ebdfe4;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #db34bf;
  background-image: -webkit-linear-gradient(top, #db34bf, #dc56de);
  background-image: -moz-linear-gradient(top, #db34bf, #dc56de);
  background-image: -ms-linear-gradient(top, #db34bf, #dc56de);
  background-image: -o-linear-gradient(top, #db34bf, #dc56de);
  background-image: linear-gradient(to bottom, #db34bf, #dc56de);
  text-decoration: none;
}




