body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.LandingHeader{
	text-align: center;
	background-color: lightPink;
	color: white;
	padding: 20px;
	height: 400px;
	background-image: url(back.jpg);
	background-position:center;
	background-size: cover;
}
.navbar{
	background-color: lightpink;
	color: white;
	height: 40px;
}
.signUpForm{
	background-image: url(back.jpg);
	background-position: center;
	background-size: cover;
	opacity: 0.2;
	height: 700px;
	
}
div.signUpFormDetails{
	margin: 30px;
	margin-top: 10px;
	padding: 15px;
    background-color: antiqueWhite;
    border: solid 5px purple;
    opacity: 0.6;
    width: 20%;
    height: 100%;
    font-weight: bolder;
    opacity: 1.0;
    color: black;
    display: inline-block;

}
.formWrap{
	display: block;
	text-align: center;
}




